# ==========================================
# Docker Configuration
# ==========================================
# User ID and Group ID mapping for file permissions on Linux
# Run `id -u` and `id -g` to find your values.
HOST_UID=1000
HOST_GID=1000

# Security configuration for gh cli
PARANOID_MODE=true

# Create bot token and name by messaging @Botfater in Telegram.
TELEGRAM_BOT_TOKEN=<TODO>
TELEGRAM_BOT_NAME=<TODO>
# Send your new bot a message, then run `curl -s https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/getUpdates` to get the chat id.
TELEGRAM_CHAT_ID=<TODO>